{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson($util.autoId())
  },
  "attributeValues": {
    "user": $util.dynamodb.toDynamoDBJson($ctx.args.input.user),
    "message": $util.dynamodb.toDynamoDBJson($ctx.args.input.message),
    "date": $util.dynamodb.toDynamoDBJson($util.time.nowEpochMilliSeconds())
  }
}